<div class="card car">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, deleniti dolor! Minus, vel soluta ducimus magni quos incidunt consectetur eos molestias praesentium optio aliquid numquam dignissimos, blanditiis obcaecati debitis aspernatur!</p>
    </div>
</div>