<div class="jumbotron mt-4">
    <h1 class ="display-4"> Notes App NodesJs and mongoDB</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque, nulla. Vel, impedit enim. Vel, dolorum eum? Praesentium maxime commodi voluptatibus enim aut magnam, maiores velit explicabo, accusantium cupiditate odio ducimus.
    </p>
    <a href="https://minos.ifxcorp.com/" class="btn btn-primary btn-lg">MinosWeb</a>
</div>
